# .gitignore

#   About: File forces Git to ignore selected directories or files.
#   Initial Commit: INIT
#   Commit Year: 2026
#   Licensed Under: MIT
#   Committer: Nico Erdmann
#   Author: Nico Erdmann 

build/